.diagram-container{
    width: 220px;
    height: 220px;
}

.db-size-diagram h3 {
    padding-left: 30px;
}

.db-info-panel {
    height: 330px;
}

.db-info-panel .db-info
{
    font-size: 16px;
    padding: 80px 0 0 30px;
}

.db-info-panel .connection-info
{
    text-align: right;
    font-size: 16px;
    padding: 80px 80px 0 30px;
}